<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Payment - Good Goods Online</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">Good Goods Online</a></div>
    </nav>
    <main class="page payment-page">
        <section class="clean-block payment-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Payment</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <form>
                    <div class="products">
                        <h3 class="title">商品情報</h3>
                        <div class="item" style="margin-bottom: 20px;">
                            <div class="form-row">
                                <div class="col-xl-2"><img style="width: 60px;height: 60px;margin-top: 0px;margin-bottom: 0px;"></div>
                                <div class="col-xl-6 offset-xl-0">
                                    <p style="display: block;margin: 20px;margin-right: 0px;margin-left: 0px;margin-top: 20px;margin-bottom: 10px;font-weight: 600;">Paragraph</p>
                                </div>
                                <div class="col-xl-2 offset-xl-0"><span class="price" style="margin-right: 0px;margin-top: 20px;margin-bottom: 10px;">$200</span></div>
                                <div class="col-xl-2 offset-xl-0"><span class="price" style="margin-right: 0px;margin-top: 20px;margin-bottom: 10px;">$200</span></div>
                            </div>
                        </div>
                        <div class="item" style="margin-bottom: 20px;">
                            <div class="form-row">
                                <div class="col-xl-2"><img style="width: 60px;height: 60px;margin-top: 0px;margin-bottom: 0px;"></div>
                                <div class="col-xl-6 offset-xl-0">
                                    <p style="display: block;margin: 20px;margin-right: 0px;margin-left: 0px;margin-top: 20px;margin-bottom: 10px;font-weight: 600;">Paragraph</p>
                                </div>
                                <div class="col-xl-2 offset-xl-0"><span class="price" style="margin-right: 0px;margin-top: 20px;margin-bottom: 10px;">$200</span></div>
                                <div class="col-xl-2 offset-xl-0"><span class="price" style="margin-right: 0px;margin-top: 20px;margin-bottom: 10px;">$200</span></div>
                            </div>
                        </div>
                        <div class="item border-top" style="margin-bottom: 20px;padding-top: 15px;height: 120px;">
                            <div class="item" style="margin-bottom: 20px;">
                                <div class="form-row">
                                    <div class="col-xl-3 offset-xl-0">
                                        <p style="display: block;margin: 0px;margin-right: 0px;margin-left: 0px;margin-top: 0px;margin-bottom: 0px;font-weight: 600;padding: 0px;">小計</p>
                                    </div>
                                    <div class="col-xl-2 offset-xl-5"><span class="price" style="margin: 0px;margin-right: 0px;margin-top: 0px;margin-bottom: 0px;">$200</span></div>
                                    <div class="col-xl-2 offset-xl-0"><span class="price" style="margin-right: 0px;margin-top: 0px;margin-bottom: 0px;">$200</span></div>
                                </div>
                            </div>
                            <div class="item" style="margin-bottom: 20px;">
                                <div class="form-row">
                                    <div class="col-xl-3 offset-xl-0">
                                        <p style="display: block;margin: 0px;margin-right: 0px;margin-left: 0px;margin-top: 0px;margin-bottom: 0px;font-weight: 600;padding: 0px;">消費税</p>
                                    </div>
                                    <div class="col-xl-2 offset-xl-5"><span class="price" style="margin: 0px;margin-right: 0px;margin-top: 0px;margin-bottom: 0px;">$200</span></div>
                                    <div class="col-xl-2 offset-xl-0"><span class="price" style="margin-right: 0px;margin-top: 0px;margin-bottom: 0px;">$200</span></div>
                                </div>
                            </div>
                            <div class="item" style="margin-bottom: 20px;">
                                <div class="form-row">
                                    <div class="col-xl-3 offset-xl-0">
                                        <p style="display: block;margin: 0px;margin-right: 0px;margin-left: 0px;margin-top: 0px;margin-bottom: 0px;font-weight: 600;padding: 0px;">送料</p>
                                    </div>
                                    <div class="col-xl-2 offset-xl-5"><span class="price" style="margin: 0px;margin-right: 0px;margin-top: 0px;margin-bottom: 0px;">$200</span></div>
                                    <div class="col-xl-2 offset-xl-0"><span class="price" style="margin-right: 0px;margin-top: 0px;margin-bottom: 0px;">$200</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="total" style="padding-top: 15px;"><span>合計金額</span><span class="price">$320</span></div>
                    </div>
                    <div class="card-details">
                        <h3 class="title">お客様情報</h3>
                        <div class="form-row">
                            <div class="col-sm-7 col-xl-12 offset-xl-0">
                                <div class="form-row">
                                    <div class="col">
                                        <h6>氏名</h6>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <p style="margin-left: 20px;">試験 太郎</p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <h6>氏名</h6>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <p style="margin-left: 20px;">試験 太郎</p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <h6>氏名</h6>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <p style="margin-left: 20px;">試験 太郎</p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <h6>氏名</h6>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <p style="margin-left: 20px;">試験 太郎</p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <h6>氏名</h6>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <p style="margin-left: 20px;">試験 太郎</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Proceed</button></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2020 Copyright Text</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>