<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Shopping Cart - Good Goods Online</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">Good Goods Online</a></div>
    </nav>
    <main class="page shopping-cart-page">
        <section class="clean-block clean-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Good Goods Online へようこそ</h2>
                    <p>文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、<br></p>
                </div>
                <div class="content">
                    <div class="row no-gutters">
                        <div class="col-md-12 col-lg-8 col-xl-7">
                            <div style="padding: 30px;">
                                <h3 class="text-center" style="padding: 16px;padding-right: 0px;padding-bottom: 28px;padding-left: 0px;height: 71px;font-size: 20px;font-weight: 600;letter-spacing: 2px;">お客様情報</h3>
                                <form style="margin: 0px;">
                                    <div class="form-group"><label for="name">Name</label><input class="form-control item" type="text" id="name" style="width: 300px;"></div>
                                    <div class="form-group"><label for="password">Password</label><input class="form-control item" type="password" id="password" style="width: 300px;"></div>
                                    <div class="form-group"><label for="email">Email</label><input class="form-control item" type="email" id="email"></div>
                                    <div class="form-group"><label for="email">Email</label><input class="form-control item" type="email" id="email"></div>
                                    <div class="form-group"><label for="email">Email</label><input class="form-control item" type="email" id="email" style="width: 300px;"></div>
                                    <div class="form-group"><label for="email">Email</label><input class="form-control item" type="email" id="email" style="width: 300px;"></div>
                                    <div class="form-group"><label for="email">Email</label><input class="form-control item" type="email" id="email"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 col-xl-5">
                            <div class="row">
                                <div class="col">
                                    <div class="summary">
                                        <h3>お会計</h3>
                                        <h4><img style="width: 30px;height: 30px;margin-right: 15px;background-image: url(&quot;assets/img/tech/image2.jpg&quot;);"><span class="text" style="font-size: 14px;font-weight: 5;">アクリルキーホルダー</span><span class="price">980円</span>
                                            <span
                                                class="price" style="margin-right: 20px;">1個</span>
                                        </h4>
                                        <h4><img style="width: 30px;height: 30px;margin-right: 15px;background-image: url(&quot;assets/img/tech/image2.jpg&quot;);"><span class="text" style="font-size: 14px;font-weight: 5;">アクリルキーホルダー</span><span class="price">980円</span>
                                            <span
                                                class="price" style="margin-right: 20px;">1個</span>
                                        </h4>
                                        <h4><img style="width: 30px;height: 30px;margin-right: 15px;background-image: url(&quot;assets/img/tech/image2.jpg&quot;);"><span class="text" style="font-size: 14px;font-weight: 5;">アクリルキーホルダー</span><span class="price">980円</span>
                                            <span
                                                class="price" style="margin-right: 20px;">1個</span>
                                        </h4>
                                        <h4><span class="text">小計</span><span class="price">360円</span></h4>
                                        <h4><span class="text">消費税</span><span class="price">36円</span></h4>
                                        <h4><span class="text">送料</span><span class="price">800円</span></h4>
                                        <h4><span class="text">合計金額</span><span class="price">1,196円</span></h4><button class="btn btn-primary btn-block btn-lg" type="button">購入画面へ</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2020 Copyright Fumiya Mizobuchi</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>