<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Good Goods Online</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">Good Goods Online</a></div>
    </nav>
    <main class="page payment-page">
        <section class="clean-block payment-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Payment</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="row">
                    <div class="col-xl-6 offset-xl-3">
                        <div style="height: 400px;background-color: #ffffff;">
                            <h3 class="text-center" style="padding: 30px;padding-right: 0px;padding-bottom: 28px;padding-left: 0px;height: 71px;font-size: 20px;font-weight: 600;letter-spacing: 2px;">ご注文完了</h3>
                            <h5 class="text-center" style="padding: 10px;margin-right: 20px;background-color: #eaeaea;margin-left: 20px;">ご注文番号: 00000000</h5>
                            <div style="margin-right: 20px;margin-left: 20px;margin-top: 20px;">
                                <p class="text-center" style="font-size: 16px;"><br>この度は「Good Goods Online」をご利用いただき、誠にありがとうございます。<br>お客様のご注文内容を記載したメールをお送りしておりますので、ご注文内容とお間違いないかご確認くださいませ。<br><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2020 Copyright Text</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>